<style>
        body {
            background-color: hotpink;
            margin: 8rem;
        }
        .top{
            background-color: yellow;
            padding: 3rem;
        }
        .list{
            background-color: paleturquoise;
            padding: 3rem;
        }
        .bottom{
            background-color: white;
            padding: 3rem;
        }
        .photo{
            size: ?
        }
</style>