@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: magenta;
    font-family: "Grandstander", sans-serif;
}

em{
    color: darkblue;
}

h1{
    font-family: "Grand Hotel", serif;
    size: 30pt;
}

.container{
    max-width: 80%;
    background-color: white;
    margin: 2rem auto;
}

p{
    max-width: 80ch;
}

.top h1{
    color: green
}

.top{
    background-color: tan;
    padding: 2rem;
}

.list{
    background-color: paleturquoise;
    padding: 2rem;
}

.bottom{
    background-color: white;
    padding: 2rem;
}

.photo{
    width: 60%;
    max-width: 100%;
}